<%- include("header") -%>

<h1>La base de datos no contiene anuncios aún</h1>
<hr>
<p>Por favor ingresa algunos datos o inicializa la base de datos</p>
<a href="/"><span>Ir a las instrucciones</span></a>

<%- include("footer") -%>